<h1>Hi,  <%=typeof user === "object" ? user.name : user %></h1>
<h2>Session ID: <%= sessionID || "Session ID Not Found" %></h2>
<% if ((typeof user) === "string") { %>
    <a href="/register">Register</a>
    or 
    <a href="/login">Log In</a>
<% } else { %>
    <a href="/logout">Log Out</a>
<% } %>
